{% extends "base.html" %}


{% block content %}
<div class="flex items-center justify-between mt-6 mb-4">
    <h1 class="text-3xl font-bold mt-6 mb-4 text-gray-100">Restaurants</h1>

    <!-- Search Bar -->
    <form method="get" class="relative w-full sm:w-48">

        {% include 'hidden_params.html' %}
        
        <i class="bi bi-search absolute left-3 top-2.5 text-gray-400"></i>

        <input 
            type="text" 
            name="search"
            value="{{ request.GET.search }}"
            placeholder="Search restaurants ..."
            class="w-full pl-9 pr-4 py-2 rounded-full bg-gray-800 text-gray-200 border border-gray-600 
                  focus:outline-none focus:ring-2 focus:ring-yellow-400 text-sm placeholder-gray-400"
        >
    </form>

    <div class="flex items-center gap-4">

        {% if request.GET %}
        <a href="{% url 'restaurants:restaurant_list' %}" 
          class="px-2 py-1 text-xs font-semibold rounded-full bg-black text-gray-300 border border-white hover:text-white hover:bg-gray-900 hover:border-gray-400 transition flex items-center gap-1">
          Clear X
        </a>
        {% endif %}

        {% include "sorters.html" %}

        {% include "filters.html" %}

        <button id="visitedFilterBtn" class="text-gray-300 hover:text-yellow-400">
            <i class="bi bi-eye-fill text-xl"></i>
        </button>

        <button id="bookmarkFilterBtn" class="text-gray-300 hover:text-yellow-400">
            <i class="bi bi-bookmark-fill text-xl"></i>
        </button>
    </div>
</div>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  {% for restaurant in restaurants %}
    <a href="{{ restaurant.get_absolute_url }}">
    {% include "restaurant_card.html" %}
    </a>
  {% endfor %}
</div>

<!-- Pagination (optional) -->
<div class="mt-6">
  {% include "pagination.html" %}
</div>
{% include "bookmark_script.html" %}
{% include "visited_script.html" %}
{% include "filter_script.html" %}
{% include "sorters_script.html" %}
{% endblock %}
