{% extends "base.html" %}

{% block title %}
Password Updated - HomeBite
{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 450px; background-color:#111; padding:25px; border-radius:8px; border:1px solid #333;">

    <h2 class="text-center mb-3">Password Changed</h2>
    <p class="text-center" style="color:#ccc;">
        Your password has been successfully updated.
    </p>

    <div class="text-center mt-3">
        <a href="{% url 'home' %}" class="btn btn-primary w-100">Return Home</a>
    </div>

</div>
{% endblock %}
